* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
}

.grid-x {
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}

.cell {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}





